:root{
   --main:#4CAF50;
}
footer {
    background-color: #000000;
    padding: 30px 0;
    color: #153a2e;
  }
  
  footer h4 {
    color:var(--primary);
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  footer ul li {
    list-style: none;
    
    margin-bottom: 10px;
  }
    
  footer ul li a {
    color:var(--primary);
    text-decoration: none;
  }
  
  footer ul li a:hover {
    color:var(--error);
  }
  
  footer p {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .container {
    max-width: 100%;
    padding-top: 44px;
  }
  
  .row {
    display: flex;
  }
  .row-2{
    display: flex;
    justify-content: center;
  }
  .col-md-4 {
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .text-center{
    color: var(--primary);
    font-size: 23px;
    text-align: center;
  }
  
  /* custom */
  .companyInfo li{
color: var(--primary);

  }